<!--Interpolação e concatenação de conteudo, a renderização
de variaveis ou metodos do componente no template atravez de {{}}-->
<article>
  <h3>Imterpolação/Interpolation</h3>
  <p>String renderizada com interpolação: {{ url }}</p>
  <p>Resutado de 1 + 1: {{ 1+1 }}</p>
  <p>Resultado de 2 + 2: {{ 2 + getValor() }} </p>
  <p>Curso de angular: {{ cursoAngular && getLikeCourse()}}</p>
</article>

<!--Property binding, caso tenha uma propriedade essa tag não
precisa usar a interpolação e so adicionar [] nas propriendade e chamar
o metodo ou variavel sem {{}}-->
<article>
  <h3>Property Binding</h3>
  <img src="{{ urlImagem }}" style="width: 200px; height: 200px;"> <!--Interpolation-->
  <img [src]=" urlImagem " style="width: 200px; height: 200px;"> <!--Property Binding-->
</article>

<article>
  <!--Adicionando classe do booststrap pelo combobox
  sintaxe: [class.nomeDaClasse]="nomeVariavel.value == 'valueDaTag'"-->
  <div>
    <h6>Class Binding</h6>
    Selecione uma classe:
    <select #mudar (change)="0">
      <option value="alert-success">Sucesso</option>
      <option value="alert-info">Info</option>
      <option value="alert-warning">Alerta</option>
      <option value="alert-danger">Erro</option>
    </select>
    <br><br>

    <!--Leitura da estrutura: Aplicar classe alert-success caso o valor selecionado seja sucesso -->
    <div class="alert" role="alert" [class.alert-success]="mudar.value == 'alert-success'"></div>
    <div class="alert" role="alert" [class.alert-info]="mudar.value == 'alert-info'"></div>
    <div class="alert" role="alert" [class.alert-warning]="mudar.value == 'alert-warning'"></div>
    <div class="alert" role="alert" [class.alert-danger]="mudar.value == 'alert-danger'"></div>

    <div class="alert {{ mudar.value }}">Texto colorido conforme valor do combobox</div>

  </div>
</article>

<article>
  <!--Muda propriedade do style para block ou none comforme o select acima-->
  <div>
    <h6>Style Binding</h6>
    Aparecerá um texto abaixo no select error acima
    <div class="alert alert-danger" [style.display]="mudar.value == 'alert-danger' ? 'block':'none'">
      Esse texto so aparece em caso de erro</div>
  </div>
</article>

<br><br>

<article>
  <div>
    <h6>Event Binding</h6>
    <button class="btn btn-primary" (click)="botaoClicado()">Me clique!</button>

    <br><br>

    <!--Passa o EVENTO para função chamada-->
    <input type="text"
      (keyup)="onKeyUp($event)"
      (keyup.enter)="salvarValor(campoInput.value)"
      (blur)="salvarValor(campoInput.value)"
      #campoInput>

    <p>Valor atual: {{ valorAtual }}</p>
    <p>Valor salvo: {{ valorSalvo }}</p>

    <br><br>

    <span
      (mouseover)="onMouseOverOut()"
      (mouseout)="onMouseOverOut()"
      [class.highlight]="isMouseOver" >
    Passe mouse sobrem min</span>

  </div>
</article>

<article class="two-way-binding">
  <div>
    <h3>Two wayt data binding</h3>

    <!-- Caso ocora um erro com two way data binding verificar
    no modulo o import import {FormsModule} from '@angular/forms'
    e add no import o  -->

    <div>

      <input type="text"
        [value]="nome"
        (input)="nome =$event.target.value"
      >

      <input type="text"
        [ngModel]="nome"
        (ngModelChange)="nome =$event.target.value"
      >

      <input type="text" [(ngModel)]="nome">
      <p>Value: {{ nome }}</p>

    </div>
    <div>
      <input type="text" [(ngModel)]="pessoa.nome">
      <input type="text" [(ngModel)]="pessoa.idade">
      Nome: {{ pessoa.nome }} Idade: {{ pessoa.idade }}
    </div>
  </div>
</article>
